@* // ==============================================================================
// Filename: Apod.cshtml
//
// Author: Robert Howell
// Date: 6/29/2024
// Edited: 6/22/2026
// Version: 1.0
//
// Description: This page displays full details of an APOD.
//
//
// ==============================================================================
 *@

@page "/apod"
@model SpaceFlight_News_App.Pages.ApodModel

@{
    ViewData["Title"] = "APOD";
}

<section id="apoddetails" class="container">
    @if (Model.Apod == null)
    {
        <p><em>@Model.Message</em></p>
    }
    else{
        @if (!Model.AvailableToday)
        {
            <aside id="ApodFetchError"><p>@Model.UnavailableToday</p>
                @if(!string.IsNullOrEmpty(Model.FetchServerUnavailableMessage)) {
                <details><summary>@Model.FetchServerStatusCode</summary>An error occurred fetching on @Model.FetchFailDate. @Model.FetchServerUnavailableMessage</details>
                }    
            </aside>
        }

        <!-- APOD modal-->
        <div class="apod__content">
            <h2 id="apiDate2">@Model.Apod.date</h2>
            @if (Model.Apod.media == "video")
            {
                if (Model.Apod.hdurl.Contains("youtube.com"))
                {
                    <iframe class="iframeLg" controls
                        src="@Model.Apod.hdurl" allowfullscreen>
                    </iframe>
                }
                else if (Model.Apod.hdurl.Contains("apod.nasa.gov"))
                {
                    <video autoplay controls muted preload="auto" controlslist="nodownload">
                        <source src="@Model.Apod.hdurl" type="video/mp4" />
                    </video>
                }
                else
                {
                    <video autoplay controls muted controlslist="nodownload">
                        <source src="@Model.Apod.hdurl" type="video/mp4"/>
                    </video>
                }
            }
            else
            {
                <img class="apiHDimg2" src="@Model.Apod.hdurl" alt="image_empty">
            }
            <h3 id="apiTitle">@Model.Apod.apodtitle</h3>
            <p id="apiExplanation">@Model.Apod.description</p>
        </div> <!-- APOD modal end-->
    }
</section>

@{
}